@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'pretendard',pretendard, sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
    box-sizing: border-box;
    cursor: url(/assets/images/normal.png) 2 2, url(/assets/images/normal.cur) 2 2, auto;
}

.off{
    display: none !important;
}

$breakPoint: 800px;

@mixin mobile {
    @media (max-width: #{$breakPoint - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakPoint) {
        @content;
    }
}