@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "pretendard", pretendard, sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
  cursor: url(/assets/images/normal.png) 2 2, url(/assets/images/normal.cur) 2 2, auto;
}

.off {
  display: none !important;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex_start_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spacing_b_5 {
  margin-bottom: 5px;
}

.spacing_b_10 {
  margin-bottom: 10px;
}

.spacing_b_15 {
  margin-bottom: 15px;
}

.spacing_b_20 {
  margin-bottom: 20px;
}

.spacing_b_30 {
  margin-bottom: 30px !important;
}

.spacing_b_40 {
  margin-bottom: 40px;
}

.spacing_b_50 {
  margin-bottom: 50px;
}

.spacing_b_70 {
  margin-bottom: 70px;
}

.spacing_b_100 {
  margin-bottom: 100px;
}

.spacing_t_10 {
  margin-top: 10px;
}

.spacing_t_30 {
  margin-top: 30px;
}

.spacing_t_50 {
  margin-top: 50px;
}

.spacing_t_60 {
  margin-top: 60px;
}

.spacing_t_100 {
  margin-top: 100px;
}

.spacing_r_15 {
  margin-right: 15px;
}

section {
  width: calc(100% - 48px);
  margin: 0 auto;
}
@media (min-width: 800px) {
  section {
    width: 720px;
  }
}

.main_section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.im {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
}

.main_ul {
  margin-bottom: 80px;
}
.main_ul li {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
}

.text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_wrap p {
  width: -moz-fit-content;
  width: fit-content;
  width: 69px;
  height: 96px;
}

.noung, .bu {
  position: relative;
}

.noung::after {
  content: "농";
  display: block;
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/1.png);
  color: transparent;
  animation-name: noung;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes noung {
  from {
    color: transparent;
    background-image: url(/assets/images/1.png);
  }
  9% {
    color: transparent;
    background-image: url(/assets/images/1.png);
  }
  10% {
    color: black;
    background-image: none;
  }
  19% {
    color: black;
    background-image: none;
  }
  20% {
    color: transparent;
    background-image: url(/assets/images/2.png);
  }
  29% {
    color: transparent;
    background-image: url(/assets/images/2.png);
  }
  30% {
    color: black;
    background-image: none;
  }
  39% {
    color: black;
    background-image: none;
  }
  40% {
    color: transparent;
    background-image: url(/assets/images/3.png);
  }
  49% {
    color: transparent;
    background-image: url(/assets/images/3.png);
  }
  50% {
    color: black;
    background-image: none;
  }
  59% {
    color: black;
    background-image: none;
  }
  60% {
    color: transparent;
    background-image: url(/assets/images/4.png);
  }
  69% {
    color: transparent;
    background-image: url(/assets/images/4.png);
  }
  70% {
    color: black;
    background-image: none;
  }
  79% {
    color: black;
    background-image: none;
  }
  80% {
    color: transparent;
    background-image: url(/assets/images/5.png);
  }
  89% {
    color: transparent;
    background-image: url(/assets/images/5.png);
  }
  90% {
    color: black;
    background-image: none;
  }
  100% {
    color: black;
    background-image: none;
  }
}

.bu::after {
  content: "부";
  display: block;
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  animation-name: bu;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
@keyframes bu {
  from {
    color: transparent;
    background-image: url(/assets/images/6.png);
  }
  9% {
    color: transparent;
    background-image: url(/assets/images/6.png);
  }
  10% {
    color: black;
    background-image: none;
  }
  19% {
    color: black;
    background-image: none;
  }
  20% {
    color: transparent;
    background-image: url(/assets/images/7.png);
  }
  29% {
    color: transparent;
    background-image: url(/assets/images/7.png);
  }
  30% {
    color: black;
    background-image: none;
  }
  39% {
    color: black;
    background-image: none;
  }
  40% {
    color: transparent;
    background-image: url(/assets/images/8.png);
  }
  49% {
    color: transparent;
    background-image: url(/assets/images/8.png);
  }
  50% {
    color: black;
    background-image: none;
  }
  59% {
    color: black;
    background-image: none;
  }
  60% {
    color: transparent;
    background-image: url(/assets/images/9.png);
  }
  69% {
    color: transparent;
    background-image: url(/assets/images/9.png);
  }
  70% {
    color: black;
    background-image: none;
  }
  79% {
    color: black;
    background-image: none;
  }
  80% {
    color: transparent;
    background-image: url(/assets/images/10.png);
  }
  89% {
    color: transparent;
    background-image: url(/assets/images/10.png);
  }
  90% {
    color: black;
    background-image: none;
  }
  99% {
    color: black;
    background-image: none;
  }
  100% {
    color: transparent;
    background-image: url(/assets/images/6.png);
  }
}

.header {
  padding: 15px 0;
}

.list_ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.list_ul > li {
  width: calc(50% - 10px);
  margin-bottom: 30px;
}
.list_ul > li .img_cover {
  margin-bottom: 20px;
  position: relative;
}
.list_ul > li .img_cover .bg {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
}
.list_ul > li .img_cover .message {
  width: 132px;
  padding: 3px 18px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(11deg);
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 800px) {
  .list_ul > li .img_cover .message {
    width: 200px;
    font-size: 23px;
    padding: 7px 32px;
  }
}
.list_ul > li .img_cover .message.edible {
  background-color: #3EC000;
}
.list_ul > li .img_cover .message.notyet {
  background-color: #000000;
}
.list_ul > li .img_cover .message.umm {
  background-color: #FF9C09;
}
.list_ul > li .name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.list_ul > li .text {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.list_ul > li.on .message, .list_ul > li.on .name, .list_ul > li.on .text {
  opacity: 1;
}

.button {
  width: 100%;
  padding: 16px 40px;
  margin: 30px 0;
  background-color: #3EC000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
}
.button.click {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.blind {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10;
}
.blind.remove {
  display: none;
}
.blind li {
  width: 11.1111111111%;
  padding-bottom: 11.1111111111%;
  background-color: white;
  animation-name: opacity;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.blind li:nth-child(3n) {
  animation-delay: 0.6s;
}
.blind li:nth-child(5n) {
  animation-delay: 0.9s;
}
.blind li:nth-child(2n) {
  animation-delay: 0.3s;
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */